body, dd, dl, fieldset, h1, h2, h3, h4, h5, h6, ol, p, textarea, ul {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
    background: url("/static/images/bg.jpg") no-repeat 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;;
}

ol, ul {
    list-style: none outside none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}

a, button, input, textarea {
    outline: 0;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #c3c3c3;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

pre {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    word-break: normal;
}