.message.me {
    float: right;
    text-align: right;
    clear: right;
}

.message {
    margin-bottom: 16px;
    float: left;
    width: 100%;
}

.message_system {
    text-align: center;
    margin: 10px auto;
    max-width: 50%;
}

.message.me .content {
    overflow: hidden;
}

.message_system .content {
    display: inline-block;
    font-size: 12px;
    padding: 1px 18px;
    color: #b2b2b2;
    border-radius: 2px;
}

.message .content {
    overflow: hidden;
}

.message.me .avatar {
    float: right;
}

.message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    float: left;
    cursor: pointer;
}

.message .nickname {
    font-weight: 400;
    padding-left: 10px;
    font-size: 12px;
    height: 22px;
    line-height: 24px;
    color: #4f4f4f;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.bubble.bubble_default {
    background-color: #fff;
}

.bubble {
    max-width: 500px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    margin: 0 10px;
}

.bubble_cont {
    word-wrap: break-word;
    word-break: break-all;
    min-height: 25px;
}

.bubble_cont .plain {
    padding: 9px 13px;
}

.bubble.left:after, .bubble.left:before {
    right: 100%;
}

.bubble:after, .bubble:before {
    position: absolute;
    top: 14px;
    border: 6px solid transparent;
    content: " ";
}

.bubble.left:after {
    border-right-color: #fff;
    border-right-width: 4px;
}

.emoticon {
    padding: 0 15px;
}

.message .custom_emoji {
    width: 60px;
}

.bubble.bubble_primary {
    background-color: #b2e281;
}

.bubble.bubble_primary.right.arrow_primary:before, .bubble.bubble_primary.right:after {
    border-left-color: #b2e281;
    border-left-width: 4px;
}

.bubble.right:after, .bubble.right:before {
    left: 100%;
}

.bubble.right:after {
    border-left-color: #fff;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.scrollbar-dynamic>.scroll-element.scroll-y {
    height: 100%;
    min-height: 100%;
    right: 2px;
    top: 0;
    width: 7px;
}

.scrollbar-dynamic>.scroll-element.scroll-y .scroll-element_outer {
    left: auto;
    right: 0;
    top: 2px;
    transition: width .2s;
}
